/* home */
.homeIncomeBox{
     -fx-border-width: 2px;     /* Border width */
     -fx-background-color: white;
 	-fx-padding: 10px; /* Padding values can be adjusted as needed */
}

.homeHeader {
  -fx-padding: 10px;
  -fx-background-color:white;
  -fx-content-display: center;
       -fx-background-color: lightgreen;
  
}

.homeRecord {
-fx-spacing: 20px;
}

/* add record */
.addRecordDisplay {
  -fx-content-display: center;
   	-fx-padding: 40px; /* Padding values can be adjusted as needed */
}



 